$grey: 'grey';

@import 'ember-paper';

.img-responsive {
  max-width: 100%;
  max-height: 100%;
}

.text-align-center {
  text-align: center;
}

.secondary-toolbar {
  background-color: white;
  color: color($grey, '600');
  padding: 0 8px 0 8px;
}

a {
  text-decoration: none;
}

.full-width {
  width: 100%;
}


.video-background {
  background: #f5f5f5;
}

#twitch-embed > iframe {
  min-height: 500px;
  min-width: 889px;
}

.fullscreen-video > div {
  position: absolute;
  left: 0;
  right: 0;
  top: 64px;
  bottom: 0;
}
.pointer {
  cursor: pointer;
}

a:link { /* Essentially means a[href], or that the link actually goes somewhere */
  color: inherit;
}
a:visited {
  color: inherit;
}
a:hover {
  color: inherit;
}
a:active {
  color: inherit;
}
