{{#page-title title="Juegos populares"}}
  {{add-game}}
{{/page-title}}

<div class="layout layout-padding layout-wrap flex">
  {{#each model as |game index|}}

      <div class="flex-100 flex-gt-xs-50 flex-gt-sm-25 layout">
        {{#paper-card class="flex" as |card|}}
          {{#link-to "game" game.id}}
            {{card.image  class="img-responsive" src=game.thumbnail alt=game.name title=game.name}}
            {{#card.header as |header|}}
              {{#header.text as |text|}}
                {{#text.subhead}}{{game.name}}{{/text.subhead}}
              {{/header.text}}
            {{/card.header}}
          {{/link-to}}
        {{/paper-card}}
      </div>

  {{else}}

  <h1>Sin Juegos</h1>


  {{/each}}
</div>
